/* COLORS */
$main-bg-color : #019934;
$sec-bg-color : #c8e5bc;
$input-focus-border-color: $main-bg-color;
$input-prefix-bg: $main-bg-color;
$input-prefix-border-color: $main-bg-color;
$main-text-color : #404040; 


/* TOP BAR */
$topbar-height: 65px;
$topbar-bg: $main-bg-color; 
