@import "./appVariables";
@import "foundation/scss/foundation"; 
@import "font-awesome/stylesheets/font-awesome";
h1 {
	font-size : 40px; 
}

.orbit-enter {
  	opacity: 0;
  	transition: opacity .5s ease-in;
}

.orbit-enter.orbit-enter-active {
  	opacity: 1;
}

.orbit-leave {
  	opacity: 1;
  	transition: opacity .5s ease-in;
}

.orbit-leave.orbit-leave-active {
  	opacity: 0;
}


.orbitControls {
	.next, .prev {
		position: absolute;
		top: 160px;
		width: 45px;
		height: 80px;
		background-color: $main-bg-color;
		
	}
	.next {
		right: 0px; 
		&:before {
			@include fa-icon();
			position: absolute;
			content: "\f054";
			color: white;
			font-size: 25px;
			left: 35%;
			top: 29px;
		}
	}
	.prev {
		left: 0px;
		&:before {
			@include fa-icon();
			position: absolute;
			content: "\f053";
			color: white;
			font-size: 25px;
			left: 25%;
			top: 29px;
		}
	}
}